body{
    background-color: #161c27;
    color: #10b982;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page{
    background-color: #202838;
    border-radius: 1.05em;
    padding: 3.25em;
    box-shadow: 10px 10px 10px 10px #000000a6;
}
.slide{
    width: 100%;
    display: flex;

}
#myRange{
    /* -webkit-appearance: none; */
    appearance: none;
    width: 90%;
    height: 15px;
    background-color:#151b25;
    border-radius: 5%;
    outline:none;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin-bottom: 0px;
    display: inline-block;

}
#myRange:hover{
    opacity: 1;

    
}
#amount{
    width: 20%;
    margin-left: 15px;
    height: 17px;
    background-color:#151b25;
    color: #10b982;
}
#myRange::-webkit-slider-thumb{
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #10b982;
    border-radius: 50%;
    cursor: pointer;
}


#Pass{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,4.5em);
    color: #10b98160;
    /* top: -5em; */
    /* margin-bottom: 10%; */
    /* align-content: center; */
    
}

#Pass > div{
    background-color: #263548;
    border-radius: 0.625em;
    position: relative;
    /* padding-bottom: 0.625em; */
    text-align: center;
    margin-right: 0.625em;
    margin-bottom: 0.625em;
    /* height: 2.5em; */
    font-size: 1.2em;
    display: inline-block;
    transition: background-color 0.3s;
}
.tooltip{
    /* visibility: hidden; */
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip::after{
    content: "";
    border-width: 5px;
    margin-left: -5px;
    border-style: solid;
    top: 100%;
    left: 50%;
    position: absolute;
    border-color: white transparent transparent transparent;

}
#Pass > div:hover .tooltip{
    visibility: visible;
    opacity: 1;
}
#Pass > div:hover{
    background-color: #222f41;
    cursor: pointer;
}

.genBtn{
    display: flex;
    background-color:#10b982;
    border-radius: 0.625em;
    align-items: center;
    width: 19em;
    height: 4.5em;
    font-size: 0.75em;
    justify-content: center;
    margin-bottom: 4%;
    transition: background-color 0.3s;
}
.genBtn:hover{
    background-color: #0da371;
    cursor: pointer;
}
.genBtn > img{
    /* width:50px;
    height: 80px; */
    width: 0.95em;
    height: 1.5em;
    margin-right: 3%;
    
}
#copied1, #copied2, #copied3, #copied4{
    margin-left: 5%;
    margin-right: 3%;
    width: 0px;
    /* float: left; */
    align-self: center;
    justify-self: center;
    /* height: 10px; */
}
#hello1, #hello2, #hello3, #hello4{
    font-size: 0px;
}
h1{
    color: white;
    margin-bottom: 0px;
    font-weight: bold;
}
.col{
    margin-top: 0px;
    color: #10b982;
}
.never{
    color: white;
    font-size: 1.6em;
}
@media only screen and (max-width: 1279px){
    html{
        font-size: 40px;
    }
    .page{
        width: 100%;
        height: 70%;
    }
    #Pass > div:hover .tooltip{
        visibility: hidden;
        opacity: 0;
    }
    #myRange::-webkit-slider-thumb{
    width: 50px;
    height: 50px;

    }
}